<!DOCTYPE html>
<html>

<%- include ("partials/head.ejs") %>



<title>Black Login Form</title>
    <style>
         body{
             background-image: url("bac");
			background-attachment: fixed;
         }
    header
        {
		
		margin: 0px;
    margin-right: 0px;
    margin-left: 0px;
background: rgba(62, 255, 21, 0.08);
height: 100vh;
margin-left: 109px;
margin-right: 109px;
border: 1px solid rgba(105, 249, 7, 0.9);
border-radius: .28571429rem;
box-shadow: 0 1px 2px 0 rgb(63, 255, 5);
     
        }
   .h2div
   {
border:none;
 
border-bottom:1px solid green;
border-width: 5px;
width:200px;
height: 60px;
border-radius: 40px;

 
 
   }
   .wh2div
   {
border:none;
 
border-bottom:1px solid red;
border-width: 5px;
width:200px;
height: 60px;
border-radius: 40px;

 
 
   }
    .div1{
        padding: 20px;
        transform: translate(0px,120px);
        color:white;
         border:none;
         border-top: 1px solid green;
          
         border-radius: 20px;
         border-bottom: 1px solid green;
         border-width: 5px;
        width:370px;
        height: 400px;
		margin-left: 693px;
		margin-top: -400px;
		background: #0fe85917;
		box-shadow: 1px 0px 2px 3px rgba(151, 244, 15, 0.78);
    }
    .wh1{
        padding: 20px;
        transform: translate(0px,120px);
        color:white;
         border:none;
         border-top: 1px solid maroon;
          
         border-radius: 20px;
         border-bottom: 1px solid maroon;
         border-width: 5px;
        width:370px;
        height: 400px;
		background: #ce15151f;
		margin-left:48px;
		box-shadow: 1px 0px 2px 3px rgb(244, 15, 15);
    }
    .div2{
        transform: translate(0px,50px);
         
         
    }
    .div3{
        width:200;
    height: 25px;
        border:2px solid white;
        border-radius: 5px;
        padding:2px;
      background-color: white;
      color:Black;
      font-family:arial black;  
         
         
    }
    #btn:hover
    {
background-color: lightgreen;
color:white;
border:transparent;
transition: 0.6s ease;
font-size: 1em;

    }
     
    .UPdiv{
   float:left;
   color:white;
    font-family: arial black;
      
    }
    .inputtext
			{	
	padding: 5px;
     background:transparent;
     border:none;
     border-bottom:2px solid white;
     color:white;

 }  
 #inputtext:hover
 {
 
  border:transparent;
  border-radius: 10px;
 font-size: 14px;
 transition: 0.9s ease;
 }
     .fst2{
		padding:10px;
	 }
	 .lf{
		color:green;
		 text-shadow: 1.5px 1.5px;
		 margin-top:15px;
		 font-size:50px;
		 
	 }
	 .rrt{
		margin-top: -78px;
	 }
	 
	 
	 
	 
	 
    </style>
</head>
    <body>


	    <script>
        $(document).ready(function () {
            $('.ui.form').form({
                fields: {
                    email: {
                        identifier: 'username',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter your username'
                            }
                        ]
                    },
                    password: {
                        identifier: 'password',
                        rules: [
                            {
                                type: 'empty',
                                prompt: 'Please enter your password'
                            }
                        ]
                    }
                }
            });
        });
    </script>

        <div class="maindiv">
		
<header>
<div class="rau">
<script type="text/javascript">
window.onload = function (){
	document.getElementById("audio_mp3").play();
}
</script>
<audio id="audio_mp3" >

<source src="/css/abvendor/ag.mp3"> 
 </audio>
</div>
 	<div class="lf">
	
	<center>
		<p>
			LOGIN - FORM
		</p>
	</center>
	
	</div>
	<div class="rrt">
 <div class="wh1">
<center>
   <br> <div class="wh2div"><h2><p>DISCLAIMER</p></h2></div><br><br>
     <p>
	 Usage of WH-HackerExploit Hacking - v2 Tool for attacking targets without prior mutual consent is illegal. It's the end user's responsibility to obey all applicable local, state and federal laws. Developers assume no liability and are not responsible for any misuse or damage caused by this program. Only use for educational purposes. 
	 </p>
</center>
</div>

<div class="div1">
<center>
   <br> <div class="h2div"><h2>WH-HackerExploit</h2></div><br><br>
     <div class="div2" style="margin-top: -63px;">
     <div class="UPdiv">
           <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
            Username:

        </div>
        <br>
        <br>
		<form  class="ui large form" method="POST">
		<div class="Fst2">
<input type="text"id="inputtext" class="inputtext"name="username" placeholder="Enter Username">&nbsp;&nbsp;
 <!-- <input type="text" name="username" placeholder="Username"> -->
   <br>
   <div class="UPdiv"style="padding-bottom: 14px;" >
           
            
            
            Password:
        <br>
        </div>
		<br>
		
<input type="password"id="inputtext" class="inputtext"  name="password" placeholder="Enter Password">
	<!-- <input type="password" name="password" placeholder="Password"> -->

<br>
 <div class="ui fluid large teal submit button" style="margin-top: 10px;" >L O G I N</div>
<br><br><br>
 

</div>
</div>
</form>
</div>
</div>
</center>
</div>


</header>
<br>

<%- include("partials/footer") %>
</div>

 </body>

<html>
